.elementor-widget-dcf-dates-range-form form {
   display: flex;
   gap: 15px;
   align-items: flex-end;
}
.elementor-widget-dcf-dates-range-form.layout-column form {
   flex-direction: column;
   align-items: stretch;
}

.elementor-widget-dcf-dates-range-form form label {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 5px;
   flex-grow: 1;
   font-family: "Mark Book", Sans-serif;
   font-size: 12px;
   font-weight: 400;
   color: #A2A1A1;
}

.elementor-widget-dcf-dates-range-form form .dcf-date-input {
   border-width: 0px;
   border-bottom: 1px solid #16151433;
   padding: 5px 10px;
   border-radius: 0;
}
input.dcf-date-input:placeholder-shown + .dcf-date-input-clear-icon {
   display: none;
}
.elementor-widget-dcf-dates-range-form form .dcf-date-input-clear-icon {
   font-size: 33px;
   color: red;
   position: absolute;
   bottom: 5px;
   right: 32px;
   padding: 5px;
   height: 1em;
   width: 1em;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.elementor-widget-dcf-dates-range-form form .dcf-date-input:focus {
   border-bottom-color: #161514;
}
.elementor-widget-dcf-dates-range-form form .dcf-date-input:focus-visible {
   outline: none;
   box-shadow: unset;
}

.elementor-widget-dcf-dates-range-form form button.frymo-submit {
   font-family: "Trio Grotesk", Sans-serif;
   font-size: 10px;
   font-weight: 500;
   text-transform: uppercase;
   border-radius: 8px 8px 8px 8px;
   background-color: #161514;
   color: #ffffff;
   padding: 12px 40px;
   border: none;
}

.elementor-widget-dcf-dates-range-form.frymo-loading .frymo-submit:after {
   width: 14px;
   height: 14px;
}

.domu-flatpikr-wrapper .flatpickr-current-month {
   display: flex;
   justify-content: space-between;
}
.domu-flatpikr-wrapper .flatpickr-day:not(.flatpickr-disabled) {
   font-weight: bold;
}


@media(max-width: 768px) {
   .elementor-widget-dcf-dates-range-form form {
      flex-direction: column;
      align-items: stretch;
   }
}


.domu-no-results-button-wrapper {
   margin-top: 20px;
}
.domu-no-results-button {
   font-family: "Trio Grotesk", Sans-serif;
   font-size: 10px;
   font-weight: 500;
   text-transform: uppercase;
   border-radius: 8px 8px 8px 8px;
   background-color: #161514;
   color: #ffffff;
   padding: 12px 40px;
   border: none;
}
.domu-no-results-button:hover {
   color: #ffffff;
}


